
<!-- <form ng-submit="homeCtrl.addParagraph()">
  <input type="text" ng-model="homeCtrl.todoText" size="3" placeholder="add new todo here">
  <input class="btn-primary" type="submit" value="add">
</form> -->

<div class="jumbotron text-center">
    <h2>Input paragraph</h2>
    <form ng-submit="homeCtrl.addParagraph()" method="post">
      <textarea id="inputbox" type="text" ng-model="homeCtrl.paragraph" ng-trim="false" maxlength="{{homeCtrl.maxlength}}" placeholder="Input paragraph here"></textarea>
      <p>word left : <span id="wordleft">{{homeCtrl.maxlength - homeCtrl.paragraph.length}}</span></p>
      <p>{{homeCtrl.paragraph.length}}</p>
      <button class="btn btn-large btn-primary" type="button">Start wiki inspect</button>
    </form>
</div>
