body {
  text-align: center;
  /*background-color: #00F2FF;*/
}

#logo {
  width: 23%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.jumbotron h1 {
  font-size: 55px;
}

.jumbotron{
  position: absolute;
  height: 100%;
  width: 100%;
}

#inputbox {
  width: 50%;
  height: 250px;
}

#wordleft {
  color: darkred;
}

textarea {
  font-size: 20px;
}
